
$SCHEDULE-MANAGER-WIDTH: 1700px;

.sm-page {
  width: 100%;
  min-width: fit-content;
  
  &__container {
    display: flex;
    justify-content: space-between;

    .subpage.dispute-overview-header-right-container { position: relative; top: 15px; }
  }

  &__header {

    &__request-count {
      display: flex;
      top: 23px;
      position: relative;

      cursor: default;
      background-image: url('../../static/Icon_Admin_UnlinkedAmend.png');
      background-repeat: no-repeat;
      background-size: 28px;
      background-position: left;
      padding-left: 34px;

      span {
        margin-top: 5px;
      }
    }
  }
  
  &__top-bar {
    background-color: #f6f6f6;
    height: 54px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 10px;

    > div { margin-top: 10px; }
    .sm-page__working-sched__bulk-add-blocks { margin-top: 0; }
  }

  &__schedule-periods {
    &__type-filter {
      display: flex;
      align-items: center;
      margin-left: 20px;
    }

    &__add-period {
      margin-left: auto;
    }
  }

  &__schedule-request {

    &__filters {
      display: flex;
      margin-left: auto;

      &__add {
        cursor: pointer;
        margin: 0 10px;
        display: flex;

        &__icon {
          height: 29px;
          width: 32px;
          position: relative;
          top: 2px;
        }

        &__text {
          color: #335c85;
          position: relative;
          top: 5px;
          min-width: 30px;
          font-size: 16px;
        }
      }

      &__filter {
        display: flex;

        &--owner, &--types { margin-right: 15px; }
        &--submitter {
          width: 200px;
          margin-right: 15px;
        }
        &--status {
          width: 187px;
          margin-right: 15px;
        }
        &--date {
          width: 150px;
          margin-right: 15px;
        }

        &__text {
          font-size: 16px; 
          font-weight: 600; 
          margin-top: 5px;
          min-width: 52px;

          &--starting-after {
            min-width: 107px;
            @extend .sm-page__schedule-request__filters__filter__text;
          }
        }
      }
    }
  }

  &__working-sched {

    &__filters {
      display: flex;

      div { margin-left: 5px; }
      &__managed-by {
        margin-left: 30px;
        .dropdown-display-title { min-width: fit-content; margin-right: 5px; }
        .intake-dropdown-component > div { display: flex; }
      }
    }
    
    &__bulk-add-blocks {
      font-size: 18px;
      cursor: pointer;
      margin-left: auto;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #38598a;

      img { margin-right: 10px; }
      span { position:relative; top:2px; }
    }

    &__hearing-generation {
      @extend .sm-page__working-sched__bulk-add-blocks;
      margin-left: 0;
    }
  }
  
  &__view-type select { width: 175px; }
}