.landing-page { font-family: "Myriad Pro", sans-serif; font-size: 16px; padding: 80px 20px 0 40px; }
.landing-page table { border-collapse: collapse; width: 100%; }
.landing-page th,
.landing-page td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; }

.landing-page .landing-page-label { width: 120px; color: #8e8e8e; width: 200px; }
.landing-page a { color: #337ab7; font-style: normal; }

.landing-page .dms-logo-container { border: 2px solid #ddd; border-left: none; border-right: none; padding: 10px 0 10px 0; margin-bottom: 10px; }
.landing-page .dms-logo { background: url('../static/DMSLogos.gif') no-repeat; height: 89px; width: 100%; }