{
  "ConnectionStrings": {
    "DwConnection": "Host=localhost;Port=5432;Database=datawarehouse;Username=postgres;Password=postgres;Integrated Security=false;"
  },

  "Serilog": {
    "MinimumLevel": "Warning",
    "Enrich": [
      "FromLogContext"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "%LOG_DIR%/log.txt",
          "rollingInterval": "Day"
        }
      }
    ]
  }

}