$DAC-FONT-SIZE-CONTENT: 17px;
$DAC-FONT-SIZE-BUTTON: 18px;
$DAC-FONT-SIZE-CONTENT-TITLES: 18px;
$DAC-FONT-SIZE-PAGE-TITLES: 18px;

$DMS-COLOR-BLUE-PRIMARY: #335c85;
$DMS-COLOR-YELLOw-PRIMARY: #e5b872;
$DMS-COLOR-GREEN-PRIMARY: #139b39;
$DMS-COLOR-RED-PRIMARY: #d80000;
$DMS-COLOR-GRAY-PRIMARY: #8b8b8b;

$DAC-LINE-HEIGHT-WRAPPING-BUTTONS: 50px;
