.ceu-table {
  display: flex;

  &__header { 
    display: flex;
    align-items: center;

    > div { margin-right:5px; }
  }

  > div { margin-right:5px; }

  &__filenumber-column { 
    min-width: 200px; 
    max-width: 200px; 
    &__text { cursor: pointer; }
  }
  &__status-column { min-width: 105px; max-width: 105px; }
  &__created-column { min-width: 115px; max-width: 115px; }
  &__submitter-column { min-width: 280px; flex-grow: 1; }
  &__respondent-column { min-width: 280px; }
  &__urgency-column {
    min-width: 100px;
    max-width: 100px;
    
    &--emergency {
      @extend .ceu-table__urgency-column;
      color: #B92429; 
    }
    
    &--standard {
      @extend .ceu-table__urgency-column;
      color: #2B9241;
    }
    
    &--deferred {
      @extend .ceu-table__urgency-column;
      color: #2772BE;
    }

  }
  &__units-column { min-width: 50px; max-width: 50px; text-align: center; }
  &__contraventions-column { min-width: 120px; max-width: 120px; text-align: center; }
  &__uploads-column { min-width: 70px; max-width: 70px; text-align: center; }
  &__files-column { min-width: 80px; max-width: 80px; text-align: center; }
  &__owner-column { min-width: 200px; max-width: 200px; margin-left: 10px; }

}