{
  "ConnectionStrings": {
    "DbConnection": "Host=localhost;Port=5432;Database=CaseManagementTest;Username=postgres;Password=postgres;Integrated Security=false;Enlist=false; No Reset On Close=false"
  },

  "MQ": {
    "Cluster": "host=localhost;username=guest;password=guest;publisherConfirms=true;timeout=10"
  },

  "ExternalJwtSettings": {
    "Key": "secret-key-keep-it-safe",
    "ExpireRange": 60,
    "RefreshRange": 60
  },

  "Scheduler": {
    "HearingReminderCronSchedule": "0 0/1 * * * ?",
    "ApplicantEvidenceReminderCronSchedule": "0 0/1 * * * ?",
    "RespondentEvidenceReminderCronSchedule": "0 0/1 * * * ?",
    "RespondentEmergEvidenceReminderCronSchedule": "0 0/1 * * * ?",
    "ReconciliationReportCronSchedule": "0 0/1 * * * ?",
    "AbandonedDisputesNotificationSchedule": "0 0/1 * * * ?",
    "DisputeAbandonedForNoPaymentSchedule": "0 0/1 * * * ?",
    "HearingReportCronSchedule": "0 0/1 * * * ?",
    "ColdStorageSchedule": "0 0/1 * * * ?",
    "FactDisputeSummarySchedule": "0 0/1 * * * ?",
    "FactTimeStatisticsSchedule": "0 0/1 * * * ?",
    "FactIssueOutcomeSchedule": "0 0/1 * * * ?",
    "AricApplicantEvidenceReminderCronSchedule": "0 0 0/1 * * ?",
    "PfrApplicantEvidenceReminderCronSchedule": "0 0/1 * * * ?",
    "FactHearingSummarySchedule": "0 0 0/20 * * ?",
    "FactIntakeProcessingSchedule": "0 0/1 * * * ?",
    "FactResolutionServiceSchedule": "0 0/1 * * * ?",
    "HearingRecordingTransferCronSchedule": "0 0/1 * * * ?",
    "SendPreferredDateEmailsCronSchedule": "0 0/1 * * * ?",
    "RetryErrorSendEmailsCronSchedule": "0 0/1 * * * ?",
    "ArsDeclarationDeadlineReminderSchedule": "0 0/1 * * * ?",
    "ArsDeclarationDeadlineMissedSchedule": "0 0/1 * * * ?",
    "ArsReinstatementDeadlineReminderSchedule": "0 0/1 * * * ?",
    "ArsReinstatementDeadlineMissedSchedule": "0 0/1 * * * ?",
    "MhvAppCNFirstSchedule": "0 0/1 * * * ?",
    "MhvAppNotLinkedFirstSchedule": "0 0/1 * * * ?",
    "MhvAppLinkedFirstSchedule": "0 0/1 * * * ?",
    "MhvAppCNFinalSchedule": "0 0/1 * * * ?",
    "MhvAppNotLinkedFinalSchedule": "0 0/1 * * * ?",
    "MhvAppLinkedFinalSchedule": "0 0/1 * * * ?"
  },
  "StorageSettings": {
    "Plugins": [
      {
        "Name": "filesystem"
      },
      {
        "Name": "amazons3",
        "Params": {
          "accessKey": "AKIAZ377Y3N7OIMRIJG7",
          "secretKey": "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",
          "region": "ca-central-1"
        }
      }
    ]
  },
  "Serilog": {
    "MinimumLevel": "Warning",
    "Enrich": [
      "FromLogContext"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "%LOG_DIR%/log.txt",
          "rollingInterval": "Day"
        }
      }
    ]
  }
}
