@import '../../assets/styles/common.scss';
$headerIcon: url('../../assets/images/PostedDecision_Icon_Large.png');
$headerMobileIcon: url('../../assets/images/PostedDecision_Icon_Small.png');

.posted-decisions {
  font-size: 16px;
  padding: 20px;
  max-width: 1650px;
  margin: auto;
  background-color: white;

  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;

    &__title {
      display: flex;
      font-weight: 500;
      font-size: 26px;
      margin-bottom: 10px;
      width: 100%;
      color: #a3a3a3;
      border-bottom: 4px solid $bottom-border
    }

    &__body {
      max-width: 1550px;
      font-size: 18px;
      line-height: 22px;
    }

    &__img {
      background-image: $headerIcon;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 10px;
      width: 87px;
      height: 95px;
      min-width: 87px;
      min-height: 95px;
    }

    &__mobile-img {
      @extend .posted-decisions__header__img;
      display: none;
      background-image: $headerMobileIcon;
      width: 37px;
      height: 30px;
      min-width: 37px;
      min-height: 30px;
    }
  }

  &__filter {
    display: flex;
    background-color: $filter-bar;
    margin-top: 20px;
    min-height: 54px;

    .radio {
      margin-top: 4px;
      margin-bottom: 4px;
      label { margin-top: 8px; }
    }

    &__checkbox {
      margin-left: 20px;
      padding-top: 2px;

      .radio-display-title { top: 0 }
    }
  }

  &__buttons {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin: 40px 0 20px 0;

    &__search {
      display: flex;
      align-items: center;
      color: white;
      background-color: #335c85;
      border: 1px solid #597087;
      border-radius: 0;
      font-size: 22px;

      &:hover {
        @extend .posted-decisions__buttons__search;
      }

      &:focus {
        @extend .posted-decisions__buttons__search;
      }

      &:disabled {
        background-color: #999999;
        border-color:#999999;
      }
    }

    &__refresh {
      @extend .posted-decisions__buttons__search;
      color: #999999;
      background-color: white;
      border-color: white;
      font-size: 22px;

      &__icon {
        margin-right: 5px;
      }

      &:hover {
        @extend .posted-decisions__buttons__refresh;
      }

      &:focus {
        @extend .posted-decisions__buttons__refresh;
      }
    }
  }

  &__results {

    &__searched {
      display: flex;
      font-style: italic;
      color: #585858;
      border-bottom: 4px solid $bottom-border;
      width: 100%;
    }

    &__title {
      display: flex;
      align-items: center;
      background-color: #f6f6f6;
      height: 54px;
      font-weight: bold;
      font-size: 20px;

      &__text {
        margin-left: 10px;
      }
    }

    &__decision {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #e4e4e4;
  
      &__title {
        font-weight: bold;

        &__download {
          margin-left: 10px;
          cursor: pointer;
          color: #347ab7;
        }
      }
  
      &__body {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      color: #b4b2b2;
      font-size: 20px;

      &--show-more {
        cursor: pointer;
      }

      &__image {
        margin-right: 5px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .posted-decisions {
    padding: 10px;

    &__filter {
      height: auto;

      &__checkbox {
        margin-left: 10px;
      }
    }

    &__header {

      &__img {
        display: none;
      }

      &__mobile-img {
        display: unset;
      }

      &__title {
        font-size: 23px;
      }
    }
  }
}