.graph {
  &__wrapper {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
  }

  &__help {
    .help-icon { 
      background-image: url('../../static/Icon_Graph_Help.png');
      background-repeat: no-repeat;
      height: 22px;
      width: 22px;
      margin-left: 0;

      &.help-opened {
        background-image: url('../../static/Icon_Graph_Help_OVR.png') !important;
      }
    }
  }

  &__error {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &__text {
      color: #d80000;
    }
  }

  &__chart-wrapper {
    width: calc(100% - 27px);
    border: 2px solid #e7ebf0;
    padding: 5px;
  }

  &__item {
    .info-help-container {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    line-height: 14px;

    &__title-wrapper { display: flex; align-items: center; }

    .help-icon { padding: 0; }

    .info-help-container {
      font-size: 14px;
      line-height: 18px;
      max-height: 105px;
      overflow-y: auto;
    }

    &__error {
      display: flex;
      align-items: center;
      margin-top: 5px;
      color: #d80000;
    }

    margin-bottom: 20px;
    &__header { background-color: #808080; color: white; }
    td { white-space: nowrap; }
  }

  &__tables {
    width: 409px;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    width:22px;
    margin-left: 5px;

    .help-icon { margin-left: 0; padding: 0; }
  }

  &__chart {
    &__download {
      width: 22px;
      cursor: pointer;
      margin-bottom: 3px;
    }

    &__modal {
      width: 22px;
      cursor: pointer;
    }
  }
}

.modal-graph {
  height: auto !important;
  width: 99% !important;
  margin: 5px !important;

  .info-help-container {
    font-size: 14px;
    line-height: 18px;
  }

  .graph__wrapper { margin-bottom: 0; }

  &__wrapper {
    display: flex;
  }

  &__graph { width: 100%; height: 100%; }

  .modal-title { visibility: hidden; }
}