.access-code-lookup {
  &__type {
    margin-top: 5px;
  }
  
  &__description { 
    margin: 20px 0;
    font-size: 17px;
  }

  &__question-button {
    font-size: 18px;
    line-height: 22px;
    height: 40px;
  }

  &__participant {
    padding: 10px 0;
    border-top: 1px solid #b8b8b8;
  }

  .modal-dialog {
    width: 800px;
  }
}