.staff-list {
  display: flex;

  &__title {
    font-size: 18px;
    > .general-link { float: right; }
  }

  &__list {
    width: 400px;
    height: 250px;
    overflow-y: scroll;
    border: 1px solid #333;
    padding-right: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    height: 34px;
    padding-left: 5px;

    &__arrow {
      cursor: pointer;
      width: fit-content;
      height: fit-content;
      margin-right: 3px;
    }
  }

  > div:first-child { margin-right: 20px; }
}