.report-viewer-modal {
  
  .modal-dialog { width: 1400px; padding: 0 10px; }
  
  &__form-params {
    
    &__container {
      display: inline-flex;
      margin: 15px 0;
    }

    &__submit {
      margin-top: 32px;
    }
  }

  &__form-results {
    padding-top: 20px;
  }
}