
.dar-payment__info {
  padding-left: 50px;
  background: url('../../static/Icon_FeedbackReminderRed.png') no-repeat;
  background-size: 32px;
  background-position-x: 5px;
}

.da-review-payment .fee-waiver-error-container { margin-top: 35px; }
