{
  "MQ": {
    "Cluster": "host=localhost;virtualHost=rtb-dms;username=guest;password=guest;publisherConfirms=true;timeout=10"
  },
  "Serilog": {
    "MinimumLevel": "Warning",
    "Enrich": [
      "FromLogContext"
    ],
    "WriteTo": [
      {
        "Name": "File",
        "Args": {
          "path": "%LOG_DIR%/log.txt",
          "rollingInterval": "Day"
        }
      }
    ]
  },

  "urls": "http://localhost:5050;"
  }