#emailReceipt_modal {
  
  .modal-content {
    min-width: 635px;
  }

  .email {
    width: 300px;
  }

  .confirm-email {
    @extend .enter-email;
  }

  .email-to-choice {
    margin-bottom: 20px;

    .radio {
      display: flex!important;
      flex-direction: column;

      label { margin: 0 0 5px 0;}
    }
  }

  .email-sent-wrapper {
    display: flex;
    align-items: center;
  }

  .email-update-wrapper { margin-top: 20px; }

  .email-sent-wrapper-image { height: 57px; margin-right: 10px; }

  .btn-cancel {
    color: #e8e6e3;
    background-color: #294a6a;
    border-color: #376490;
    background-image: none;
  }
}

@media (max-width: 767px) {
  #emailReceipt_modal {
    .modal-content { min-width: auto; }
    .enter-email { width: auto; }
  }
}